.form-group-1 {
    margin-bottom: 10px;
}

.container-new{
    margin-right: 25px;
    margin-left:25px;
    padding-left:15px;
    padding-right:15px
}
@media (min-width:768px)
{.container {
    width:750px
    }
}
@media (min-width:992px)
{.container {
        width:970px
    }
}
@media (min-width:1200px)
{.container {
    width:1170px
}
}
.container-fluid{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
}